/* Estilo general */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    line-height: 1.6;
}

header {
    background: #1f1f1f;
    padding: 1rem 0;
    text-align: center;
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.menu li a:hover {
    text-decoration: underline;
}

footer {
    background: #1f1f1f;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

.intro {
    text-align: center;
    margin: 2rem 0;
}

.foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    object-fit: cover;
}

.ultimos-trabajos {
    text-align: center;
    margin: 2rem auto;
    max-width: 800px;
}

.trabajos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.trabajo img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.trabajo p {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}



/* Página PORTAFOLIO */
.portfolio {
    padding: 2rem;
    text-align: center;
}

.grid-portafolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    padding: 2rem 0;
}

.trabajo img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.trabajo p {
    margin-top: 0.5rem;
    font-size: 1rem;
}

.trabajo a {
    text-decoration: none;
    color: #f0f0f0;
}

.trabajo img:hover {
    transform: scale(1.05);
}


/* Página CONTACTO */
.contacto {
    text-align: center;
    padding: 2rem;
}

.contacto-lista {
    list-style: none;
    padding: 0;
    margin: 2rem 0;
}

.contacto-lista li {
    margin-bottom: 1.5rem;
}

.contacto-lista a {
    text-decoration: none;
    color: #f0f0f0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: color 0.3s ease;
}

.contacto-lista a:hover {
    color: #1db954;
}

.contacto-lista img {
    width: 24px;
    height: 24px;
}
